<form action="/restaurants" method="POST" class="w-50 mx-auto mt-2">
  <div class="form-group">
    <label for="name">餐廳名稱</label>
    <input class="form-control form-control-sm" type="text" placeholder="名稱" name="name">
  </div>
  <div class="form-group">
    <label for="name_en">餐廳英文名稱</label>
    <input class="form-control form-control-sm" type="text" placeholder="name..." name="name_en">
  </div>
  <div class="form-group">
    <label for="image">圖片連結</label>
    <input class="form-control form-control-sm" type="text" placeholder="請貼上連結" name="image">
  </div>
  <div class="form-group">
    <label for="category">餐聽類別</label>
    <input class="form-control form-control-sm" type="text" placeholder="美式料理、義式料理..." name="category">
  </div>
  <div class="form-group">
    <label for="rating">評分</label>
    <input class="form-control form-control-sm" type="text" placeholder="0-5" name="rating">
  </div>
  <div class="form-group">
    <label for="location">地址</label>
    <input class="form-control form-control-sm" type="text" placeholder="請輸入地址" name="location">
  </div>
  <div class="form-group">
    <label for="google_map">地圖</label>
    <input class="form-control form-control-sm" type="text" placeholder="請輸入網址" name="google_map">
  </div>
  <div class="form-group">
    <label for="phone">聯絡方式</label>
    <input class="form-control form-control-sm" type="text" placeholder="市話或手機" name="phone">
  </div>
  <div class="form-group">
    <label for="description">餐聽描述</label>
    <input class="form-control form-control-sm" type="text" placeholder="至少20字以上..." name="description">
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-success justify-content-md-end" type="submit">提交</button>
  </div>
</form>

